.info-panel {
    width: 100%;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: rgba(32,67,166,1);
    overflow-x: auto;
}

.info-panel .badge {
    background-color: var(--mts-red);
    font-size: 1rem;
    display: none;
}

.icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
}

    .icons li {
        display: block;
        color: white;
        background-color: var(--mts-lightgreen);
        border: 0.1rem solid white;
        border-radius: 10%;
        padding: 0.45rem;
        height: fit-content;
    }

    .icons li.red {
        background-color: var(--mts-red);
    }

    .icons li.heart-beat {
        background-color: rgba(32, 67, 166, 1);
        /*color: #ffe54e31; <- from wpf*/
        color: var(--mts-orange);
    }

    .icons li.heart-beat.secondary {
        /*color: #ff2043a6; <- from wpf*/
        color: rgba(255, 255, 255, 0);
    }

.icons svg {
    height: 1.5rem;
    width: 1.5rem;
}

.info-panel p {
    display: none;
    margin: 0;
}

@media (min-width: 768px) {
    .info-panel {
        height: 100%;
        width: auto;
        padding: 1vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .info-panel .badge {
        display: block;
    }

    .info-panel, .icons {
        flex-direction: column;
    }

    .icons a {
        font-size: 1.2rem;
        border: 0.2rem solid white;
    }

    .info-panel p {
        display: block;
    }
}

/***************************************/
