<div class="info-panel">
    <ul class="icons">
        <li class="red"><a href=""><span class="oi oi-power-standby"></span></a></li>
        <li><a href=""><span class="oi oi-droplet"></span></a></li>
        <li><a href=""><span class="oi oi-warning"></span></a></li>
        <li><a href=""><span class="oi oi-shield"></span></a></li>
        <li><a href=""><span class="oi oi-home"></span></a></li>
        <li><a href=""><span class="oi oi-home"></span></a></li>
        <li><a href=""><span class="oi oi-share"></span></a></li>
        <li><a href=""><span class="oi oi-check"></span></a></li>
        <li><a href=""><span class="oi oi-cog"></span></a></li>
        <li><a href=""><span class="oi oi-ban"></span></a></li>
        <li><a href=""><span class="oi oi-heart"></span></a></li>
    </ul>
    <p class="text-uppercase">Info</p>
</div>
<div class="login">
    <LoginDisplay />
</div>
