<div class="info-panel">
    <ul class="icons">
        <li><a href="" title="Control voltage" class="red"><span class="oi oi-power-standby"></span></a></li>
        <li><a href="" title="Air pressure"><span class="oi oi-droplet"></span></a></li>
        <li><a href="" title="Emergency stop"><span class="oi oi-warning"></span></a></li>
        <li><a href="" title="Safety doors"><span class="oi oi-shield"></span></a></li>
        <li><a href="" title="Doors closed"><span class="oi oi-home"></span></a></li>
        <li><a href="" title="Doors locked"><span class="oi oi-home"></span></a></li>
        <li><a href="" title="Automatic mode"><span class="oi oi-share"></span></a></li>
        <li><a href="" title="Process data"><span class="oi oi-check"></span></a></li>
        <li><a href="" title="Technology data"><span class="oi oi-cog"></span></a></li>
        <li><a href="" title="Light curtain"><span class="oi oi-ban"></span></a></li>
        <li><a href="" title="Heart beat"><span class="oi oi-heart"></span></a></li>
    </ul>
    <p class="text-uppercase">Info</p>
</div>
<div class="login">
    <LoginDisplay />
</div>
