.info-panel {
    width: 100%;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: rgba(32,67,166,1);
    overflow-x: auto;
}

.icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
}

    .icons li {
        display: block;
        color: white;
        background-color: rgba(196,217,63,1);
        border: 0.1rem solid white;
        border-radius: 10%;
        padding: 0.45rem;
        height: fit-content;
    }

    .icons li.red {
        background-color: rgba(202,47,20,1);
    }

    .icons li.blue {
        background-color: rgba(32, 67, 166, 1);
        color: rgba(229, 78, 49, 1);
        animation: heart-beat 2s step-start infinite;
    }

    @keyframes heart-beat {
        50% {color: rgba(0, 0, 0, 0);}
    }

    .icons svg {
        height: 1.5rem;
        width: 1.5rem;
    }

.info-panel p {
    display: none;
    margin: 0;
}

@media (min-width: 768px) {
    .info-panel {
        height: 100%;
        width: auto;
        padding: 1vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .info-panel, .icons {
        flex-direction: column;
    }

    .icons a {
        font-size: 1.2rem;
        border: 0.2rem solid white;
    }

    .info-panel p {
        display: block;
    }
}

/***************************************/
