@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar-left">
        <InfoPanel />
    </div>

    <div class="main">
        <div class="content px-3">
            @Body
        </div>

        <AlertDisplay />
    </div>

    <div class="sidebar-right">
        <NavMenu />
    </div>
</div>
