@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar-left @hidden">
        <InfoPanel />
        <div class="hide-sidebar-left text-dark border" 
             @onclick='() => hidden = hidden == "" ? "hidden" : ""'>
        </div>
    </div>

    <div class="main">
        <div class="content px-3">
            @Body
        </div>

        <AlertDisplay />
    </div>

    <div class="sidebar-right">
        <NavMenu />
    </div>
</div>

@code {
    private string hidden = "";
}
