.page {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.main {
    flex: 1;
}

.sidebar-left {
    background-color: antiquewhite;
    max-height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 12;
}

.sidebar-right {
    background-color: rgba(32,67,166,1);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (min-width: 768px) {
    .page {
        flex-direction: row;
    }

    .sidebar-left {
        position: sticky;
        top: 0;
        width: fit-content;
        max-height: 100vh;
        flex-direction: column;
    }

    .sidebar-right {
        min-height: 100vh;
        max-height: fit-content;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}
