<div class="top-row pl-4 navbar">
    <a class="navbar-brand" href="" style="text-transform: uppercase">Technology</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="menu @NavMenuCssClass">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @*<Li_Expandable Main="Operator" Sublinks="Operator, CU00x" />*@
        <li class="nav-item">
            <NavLink class="nav-link" href="operator">
                <span class="oi oi-plus" aria-hidden="true"></span> Operator
            </NavLink>
        </li>
        <Li_Expandable Main="Data" Sublinks="Process settings, Production data, Tech data, Rework settings, Offline rework data" />
        <li class="nav-item">
            <NavLink class="nav-link" href="users">
                <span class="oi oi-plus" aria-hidden="true"></span> Users
            </NavLink>
        </li>



    </ul>


    <div class="login">
        <LoginDisplay />
    </div>
</div>

@code {
    //*************************************//

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

        protected override void OnInitialized()
        {
            base.OnInitialized();
        }
}
