@page "/users"

<h3>Users</h3>



<AuthorizeView Roles="Administrator">
    <Authorized>
        <SecurityManagementView @ref="@securityManagementView"></SecurityManagementView>
    </Authorized>
    <NotAuthorized>
        <p>Sorry, you are not authorized to see UserManagement. Please log in as administrator.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private SecurityManagementView securityManagementView { get; set; }
   
}
