@namespace x_template_xPlc
@inherits RenderableViewModelComponentBase<CUBaseControlViewModel>
@inject NavigationManager _navigationManager

<h3>CUBaseControlView</h3>



<TabControl>
    <TabPage Text="Overview">
        <h2>It's lonely here</h2>
    </TabPage>
    <TabPage Text="Control">
        <CUBaseTasksView Vortex="ViewModel.Component"></CUBaseTasksView>
    </TabPage>
    <TabPage Text="Data">
        <CUBaseDataView OnlineData="ViewModel.OnlineData"></CUBaseDataView>
    </TabPage>
    <TabPage Text="Components">
        <CUBaseComponentsView Vortex="ViewModel.Components"></CUBaseComponentsView>
    </TabPage>
    <TabPage Text="Diagnostics">
        <RenderableContentControl Context="ViewModel.Component" Presentation="Diagnostics"></RenderableContentControl>
    </TabPage>
</TabControl>


@code {

        [Parameter]
        public CUBase Vortex { get; set; }


    protected override void OnInitialized()
    {
        if (ViewModel == null)
        {
            ViewModel = new CUBaseControlViewModel() { Model = Vortex };
        }

        var cuName = ViewModel.Component.AttributeShortName.ToLower();


        base.OnInitialized();
    }

}
