@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --mts-yellow: rgba(255, 217, 23, 1);
    --mts-red: rgba(202,47,20,1);
    --mts-green: rgba(32, 160, 36, 1);
    --mts-lightgreen: rgba(196,217,63,1);
    --mts-blue: rgba(32,67,166,1);
    --mts-lightblue: rgba(33, 149, 242, 1);
    --mts-cyan: rgba(141, 230, 243, 1);
    --mts-orange: rgba(245, 54, 17, 1);
    --mts-grey: rgba(52, 55, 63, 1);
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

/*****************Operator view*********************/

.station {
    display: block;
    border: 3px solid transparent;
}

.manual-colors {
    background-color: var(--mts-yellow);
    color: black;
}

.automat-colors {
    background-color: var(--mts-green);
    color: white;
}

.ground-colors {
    background-color: var(--mts-lightblue);
    color: white;
}

.groundDone-colors {
    background-color: var(--mts-blue);
    color: white;
}

.idle-colors {
    background-color: var(--mts-grey);
    color: white;
}

.hover-cyan:hover {
    border-color: var(--mts-cyan);
}

.noState-border {
    border-color: transparent;
}

    .noState-border .state-background {
        background-color: initial;
    }

.hasError-border {
    border-color: var(--mts-orange);
}
    .hasError-border .state-background {
        background-color: var(--mts-orange);
    }

/********************************************/

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
